<div class="row">
  <div class="col">
    <form [formGroup]="form">
      <label for="name" class="form-label">Name</label>
      <input type="text" formControlName="name" id="name" class="form-control mb-3" placeholder="Enter name">

      <label for="phone" class="form-label">Phone</label>
      <input type="tel" formControlName="phone" id="phone" class="form-control mb-3" placeholder="Enter name">

      <label for="email" class="form-label">Email</label>
      <input type="email" formControlName="email" id="email" class="form-control" placeholder="Enter email">

      <input (click)="save()" type="submit" value="Save" class="btn btn-outline-primary">
    </form>
  </div>
  <div class="col">
    <h3>Form Value</h3>
    <pre>{{ form.value | json }}</pre>
  </div>
</div>