<div class="row mt-3 p-2 justify-content-center" *ngIf="list.length == 0">
  <div class="col-5 mt-2"><app-no-data name="Category"></app-no-data></div>
</div>

<div class="row p-2 mt-3 row-gap-2">
  <div class="col-4 p-2" *ngFor="let item of list">
    <div class="row ms-1 align-items-center border me-1 box">
      <div class="col-3 my-2 border-end border-danger">
        <p class="fs-1 text-danger mt-2 ms-2"><i [class]="item.icon"></i></p>
      </div>
      <div class="col mt-2">
        <a href="#"
          class="fs-4 link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{item.name}}</a>
        <p class="fw-bold mt-2">{{item.type}}</p>
      </div>
      <div class="col-2">
        <a [routerLink]="['/categories', 'edit-form']" [queryParams]="{id: item.id}"
          class="btn btn-sm btn-outline-primary mb-2"><i class="bi bi-pencil-square"></i></a>
        <button (click)="remove(item.id)" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
      </div>
    </div>
  </div>

</div>

<app-confirm [removeId]="removeId" (onConfirm)="confirmRemove($event)"></app-confirm>