.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

onestop-b4/angular/angular-learning/node_modules
onestop-b4/angular/angular-learning/.angular
onestop-b4/angular/angular-learning/.vscode
onestop-b4/balance-app/balance-web/node_modules
onestop-b4/balance-app/balance-web/.angular
onestop-b4/balance-app/balance-web/.vscode

npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# External tool builders
.externalToolBuilders/
