<div class="modal fade" id="balanceForm" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-primary"><i [class]="form.get('id')?.value ? 'bi bi-pencil-square' : 'bi bi-plus-square'"></i>
          {{form.get('id')?.value ? 'Edit Record' : 'Add New Record' }}</h4>
        <button (click)="initForm()" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <form [formGroup]="form">
        <div class="modal-body">

          <div class="row justify-content-center mb-3">
            <span class="col text-center text-success select" *ngFor="let type of balType; index as i"
              [ngClass]="i == 1 ? 'border border-top-0 border-bottom-0 border-success' : ''" (click)="selectType(type)">
              <i class="bi bi-check-circle" *ngIf="selectedType == type"></i>
              {{type}}
            </span>
          </div>

          <div class="row mb-2">

            <div class="col">
              <label for="accountFrom" class="form-label">{{selectedType == 'Transfer' ? 'From' :
                'Account'}}</label>
              <select formControlName="accountFrom" id="accountFrom" class="form-control">
                <option value="">Select Account</option>
                <option *ngFor="let acc of accList">{{acc.name}}</option>
              </select>
            </div>

            <div class="col">
              <label class="form-label">{{selectedType == 'Transfer' ? 'To' : 'Category'}}</label>
              <select *ngIf="selectedType == 'Transfer'" formControlName="accountTo" class="form-control">
                <option value="">Select Account</option>
                <option *ngFor="let acc of accList" [value]="acc.name">{{acc.name}}</option>
              </select>
              <select *ngIf="selectedType == 'Expense'" formControlName="category" class="form-control">
                <option value="">Select Category</option>
                <option *ngFor="let exp of expList" [value]="exp.name">{{exp.name}}</option>
              </select>
              <select *ngIf="selectedType == 'Income'" formControlName="category" class="form-control">
                <option value="">Select Category</option>
                <option *ngFor="let inc of incList" [value]="inc.name">{{inc.name}}</option>
              </select>
            </div>

          </div>

          <div class="mx-1 row alert alert-warning" *ngIf="transferCheck()">
            Transfer Account are same. Choose different Account
          </div>

          <div class="row mb-2">
            <div class="col">
              <label for="amount" class="form-label">Amount</label>
              <input type="number" formControlName="amount" id="amount" class="form-control">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label for="note" class="form-label">Note</label>
              <textarea formControlName="note" id="note" cols="auto" rows="3" class="form-control"
                placeholder="Some notes"></textarea>
            </div>
          </div>

          <div class="row justify-content-center">
            {{creation | date:'yyyy-MM-dd h:mm a'}}
          </div>

        </div>

        <div class="modal-footer">
          <button (click)="initForm()" type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
              class="bi bi-x-lg"></i>
            Cancel</button>
          <button [class.disabled]="!form.valid || transferCheck()" (click)="save()" type="submit"
            class="btn btn-primary"><i class="bi bi-save"></i>
            Save</button>
        </div>
      </form>

    </div>
  </div>
</div>