<app-page-title><i class="bi bi-receipt-cutoff"></i> Record</app-page-title>

<div class="row mt-4">
  <app-balance-search (onAdd)="displayForm($event)" (onSearch)="search($event)"></app-balance-search>
</div>

<div class="row mt-4 align-items-center">
  <app-balance-list class="col" (onShow)="showDetail($event)" [balances]="balances" [keys]="keys"></app-balance-list>
</div>

<app-balance-form [editData]="detailData" [creation]="creation" (onSave)="save($event)"></app-balance-form>
<app-balance-detail (onEdit)="edit($event)" (onRemove)="remove($event)" [data]="detailData"></app-balance-detail>