<app-page-title><i class="bi bi-files"></i> Category</app-page-title>

<form [formGroup]="form">
  <div class="row">

    <!-- Category Name Search Input -->
    <div class="col-3">
      <label class="form-label">Name</label>
      <input (input)="search()" type="text" formControlName="name" class="form-control"
        placeholder="Enter category name">
    </div>

    <!-- Category Type Search Input -->
    <div class="col-3">
      <label class="form-label">Category Type</label>
      <select (change)="search()" formControlName="type" class="form-select">
        <option value="">Select Type</option>
        <option *ngFor="let type of catType" [value]="type">{{type}}</option>
      </select>
    </div>

    <!-- Category Type Search Input -->
    <div class="col-5 align-self-end d-flex">
      <button (click)="search()" class="btn btn-outline-primary me-3 w-100">
        <i class="bi bi-search"></i> Search
      </button>

      <a [routerLink]="['/categories', 'edit-form']" class="btn btn-outline-danger me-3 w-100">
        <i class="bi bi-plus-circle"></i> Add New
      </a>

      <button (click)="categoryFileUpload.click()" type="button" class="btn btn-outline-dark w-100">
        <i class="bi bi-upload"></i> Upload
      </button>
    </div>
  </div>
</form>

<form action="#" method="post" class="d-none">
  <input type="file" #categoryFileUpload (change)="upload(categoryFileUpload.files!)">
</form>