<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container">
    <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="navbar-brand">{{ title }}</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2">
        <li class="nav-item">
          <a [routerLink]="['/interpo']" routerLinkActive="active" class="nav-link">Interpolation</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            One Way
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="['/one', 'prop']">Property Binding</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="['/one', 'attr']">Attribute Binding</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/event" routerLinkActive="active" class="nav-link">Event</a>
        </li>
        <li class="nav-item">
          <a routerLink="/two" routerLinkActive="active" class="nav-link">Two Way</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
